* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-style: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    top: 0;
    left: 0;
    min-height: 75px;
    border-bottom: 1px solid #7F7A75;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    background-image: url('../images/img-tea-cozy-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 165px 53px;
    min-width: 165px;
    min-height: 53px;
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

li {
    margin: 0px 15px;
    text-decoration: underline;
    font-size: 24px;
}

main {
    padding: 0px 40px;
}

.cover {
    margin-top: 76px;
    width: 100%;
    min-height: 700px;
    background-image: url('../images/img-mission-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    width: 100%;
}

.text:nth-child(1) {
    margin: 10px;
    font-size: 32px;
}